@CHARSET "UTF-8";

img.center {
	display: block;
	margin: 0 auto;
}
input[type="reset"] {
	color: #337ab7;
	background-color: #fff;
	outline: 0 none;
}
input[type="reset"]:hover {
	color: #2e6da4;
	text-decoration: underline;
}
input[type="reset"]:focus {
	color: #337ab7;
	text-decoration: none;
	outline: 0 none;
}
option{
	max-height: 20px;
	height: 20px;
}

.background {
	background: url(../resources/background.jpg) fixed no-repeat center;
}

.container-fluid {
	padding: 0em 2em 0em 2em;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

.container-fluid.col-md-offset-2 {
	margin-top: 3.33em;
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}

.help-block.success, .help-block.fail {
	border-radius: 5px;
	padding: 5px;
	background-color: #dff0d8;
}
.help-block.fail {
	background-color: #f2dede;
}
.hidden {
	display: none;
}

.radio.inline {
	font-size: 12px;
}

.sub-header {
	background-color: #337ab7;
	color: #fff;
	margin-bottom: 1em;
	padding: 0.67em;
}

.tab-pane {
	margin-top: 1em;
}

.tablesorter th {
	width: 10%;
	text-align: center;
}

.tablesorter td {
	font-family: Arial, Sans-serif;
	font-size: 15px;
}

.tablesorter th:nth-child(3) {
	width: 40%;
}

.tablesorter td:nth-child(3) {
	text-decoration: underline;
}

.tablesorter th:nth-child(4), .tablesorter th:nth-child(5) {
	width: 20%;
}

.tablesorter table,
.tablesorter table th {
	width: 100%;
}
.tablesorter table th {
	border: none;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}
.ui-selectmenu-menu .ui-menu {
	max-height: 200px;
}
.ui-selectmenu-text {
	background-color: #fff;
}

#accordion {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background-color: #000;
}
#register>*, #register>ul>li>a, #search>* {
	color: #fff;
	padding-top: 1em;
	padding-bottom: 1em;
}

#sortthat tr:last-child>td {
	width: 100%;
	border-bottom: none;
}

#sortthat tr td {
	padding: 0;
}
